<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% parties.each do |party| %>
      <tr>
        <td><%= link_to party.name, party %></td>
        <td><%= link_to party.abbreviation, party %></td>
        <td><%= link_to 'Edit', edit_party_path(party) %></td>
        <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>