<p id="notice"><%= notice %></p>

<div>
  <h2> Details </h2>
  <%= render 'parties_table', parties: [@party] %>
</div>

<div>
  <h2> Politicians </h2>
  <%= render 'politicians/politicians_table', politicians: @party.politicians %>
</div>

<%= link_to 'Back', parties_path %>
