<div class="container">

  <div class="row">
    <h1>People</h1>
    <%= render 'people_table', people: @people %>
  </div>

  <%= link_to 'New Person', new_person_path %>
  <%= link_to 'Back', :back %>

</div>