<div class="container">

  <div class="row">
    <h1> Statement Details </h1>
    <%= render 'statements_table', statements: [@statement] %>
  </div>

  <div class="row">
    <h1> Related Fact Checks </h1>
    <%= render 'fact_checks/fact_checks_table', fact_checks: @statement.fact_checks %>
  </div>

  <%= link_to 'Back', statements_path %>

</div>
