<div class="container">

  <div class="row">
    <h1>Organizations</h1>
    <%= render 'organizations_table', organizations: @organizations %>
  </div>

  <%= link_to 'New Organization', new_organization_path %>
  <%= link_to 'Back', :back %>

</div>