<div class="container">

  <div class="row">
    <h1>Politicians</h1>
    <%= render 'politicians_table', politicians: @politicians %>
  </div>

  <%= link_to 'New Politician', new_politician_path %>

</div>