<div class="container">

<div>
  <h1>Politicians</h1>
  <%= render 'politicians_table', politicians: @politicians %>
</div>

<%= link_to 'New Politician', new_politician_path %>
<br> <%= link_to 'Back', root_path %>

</div>