<div class="container">

<div>
  <h2> Details: </h2>
  <%= render 'politicians_table', politicians: [@politician] %>
</div>

<div>
  <h2> My Statements: </h2>
  <%= render 'statements/statements_table', statements: @politician.statements %>
</div>

<%= link_to 'Back', politicians_path %>

</div>
