<div class="container">

  <div class="row">
    <h2>Politician details</h2>
    <%= render 'politicians_table', politicians: [@politician] %>
  </div>

  <div class="row">
    <h4>Statements made by <%= @politician.getName %></h4>
    <%= render 'statements/statements_table', statements: @politician.statements %>
  </div>

  <%= link_to 'Back', politicians_path %>

</div>
