<div class="container">

<div>
  <h1>Moderators</h1>
  <%= render 'moderators_table', moderators: @moderators %>
</div>

<%= link_to 'New Moderator', new_moderator_path %>
<br> <%= link_to 'Back', root_path %>

</div>