<div class="container">

  <div class="row">
    <h1>Moderators</h1>
    <%= render 'moderators_table', moderators: @moderators %>
  </div>

  <%= link_to 'New Moderator', new_moderator_path %>

</div>