<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col text-center">
        <span>Live Fact Checker</span>
      </div>

      <div class="col text-center">
        <span> Made with </span>
        <span style="color: red;"> Ruby on Rails </span>
      </div>

      <div class="col text-center">
        <span> <%= DateTime.now.strftime('%B, %Y') %> </span>
      </div>

    </div>
  </div>
</footer>